// Theme's Palette
@import("G:/xy/VuePress/vuepress-starter/node_modules/vuepress-theme-reco/styles/palette.styl")

// User's Palette
@import("G:/xy/VuePress/vuepress-starter/docs/.vuepress/styles/palette.styl")